.main{
    margin-top: 100px;
}

.bingo{
    display: flex;
    gap: 6rem;
    justify-content: center;
    align-items: center;
    &__main-board{
        width: 550px;
        height: 460px;
        background-color: #503838;
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        padding: 1.2rem;
        position: relative;

        &::after{
            content: 'MAIN BOARD';
            position: absolute;
            color: white;
            font-weight: 500;
            font-family: 'Futura', sans-serif;
            bottom: -2.5rem;
            right: 0;
            font-size: 1rem;
        }
    }

    &__players-boards{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        transform: translateY(2.6rem);
    }

    &__player-board{
        padding: 1.2rem;
        width: 270px;
        height: 180px;
        background-color: #503838;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        position: relative;
        &::after{
            top:-2rem;
            content: 'PLAYER 1';
            position: absolute;
            color: #503838;
            font-family: 'Futura', sans-serif;
            font-weight: 600;
            right: 0;
        }
    
    }

    &__player-board--2{
        &::after{
            content: 'PLAYER 2';
            top: auto;
            bottom: -2rem;
            right: 0;
            font-size: 1rem;
        }
    }

    &__current-number{
        padding: 16px 48px;
        font-family: 'Futura Italic';
        font-weight: 600;
        font-size: 1.2rem;
        border: 1px solid #503838;
        border-radius: 55px;
        margin-bottom: 2rem;
    }
}

.number{
    font-family: 'Futura', sans-serif;
    background-color: white;
    margin: auto;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.number--selected{
    background-color: #D87E61;
    color: white;
}
